.Home-Link {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}

.Home-Link:hover {
    color: #0091ff;
}

.Home-Github {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.Home-Github-Hover {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.Home-Name {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: bold;
}
    